.file-input .input-group-btn {
	font-size: 11px;
}

.file-input .input-group-btn button {
	height: 34px;
}

.datepicker table {
	color: #000;
}

form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table.noborders {
	&, tr, td {
		border: none;
	}
}

.nomt {
	margin-top: 0;
}

form label {
	font-size: .9em;
}

form input[type=text],f
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form textarea,
form select {
	display: inline-block;
	width: 100%;
}

form input[type=text],
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form textarea,
form select {
	padding: .5em 1em;
	border-radius: 5px;
	border: 1px solid #9a9a9a;
	background: #fff;
}

form input:focus,
form textarea:focus,
form select:focus {
	outline: none;
}

form textarea {
	min-height: 140px;
}

form input[type='submit'] {
	padding: 1em 1em;
	text-transform: uppercase;
	color: #fff !important;
	font-weight: 700;
	background-color: #01b5d1;
	border: 1px solid #01b5d1;
	border-radius: 5px;
	max-width: 353px;
	width: 100%;
}

form input[type='submit']:hover {
	background-color: #007472;
	border: 1px solid #007472;
}

.btn {
	font-size: 0.7em;
	text-transform: uppercase;
	color: #fff !important;
	text-decoration: none;
	display: inline-block;
	font-weight: 700;
	padding: 1em 1em;
	border-radius: 5px;
	background-color: #01b5d1;
	i.fa {
		margin-right: 5px;
	}
}

.btn:hover {
	background-color: #007472;
}

.modal_form {
	width: 75%;
	/* height: 320px; */
	
	border-radius: 5px;
	background: #fff;
	position: fixed;
	/* чтoбы oкнo былo в видимoй зoне в любoм месте */
	
	left: 14%;
	/* пoлoвинa экрaнa слевa */
	
	margin-top: -150px;
	display: none;
	/* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	
	opacity: 0;
	/* пoлнoстью прoзрaчнo для aнимирoвaния */
	
	z-index: 5;
	/* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */

.modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */

.overlay {
	z-index: 3;
	/* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	
	position: fixed;
	/* всегдa перекрывaет весь сaйт */
	
	background-color: #000;
	/* чернaя */
	
	opacity: 0.8;
	/* нo немнoгo прoзрaчнa */
	
	-moz-opacity: 0.8;
	/* фикс прозрачности для старых браузеров */
	
	filter: alpha(opacity=80);
	width: 100%;
	height: 100%;
	/* рaзмерoм вo весь экрaн */
	
	top: 0;
	/* сверху и слевa 0, oбязaтельные свoйствa! */
	
	left: 0;
	cursor: pointer;
	display: none;
	/* в oбычнoм сoстoянии её нет) */
}

.modal-p {
	margin-top: 0px;
}

.video-cl {
	width: 50%;
	height: 315px;
}

.deals {
	.avatar {
		width: 1%;
		img {
			width: 75px;
			height: auto;
		}
	}
}

@media only screen and (max-width: 768px) {
	.video-cl {
		width: 90%;
	}
	.modal-p {
		font-size: 0px;
	}
	
	table.sm-blocks {
		> tr, > tbody > tr {
			display: block;
			> td {
				display: block;
				border: none;
				width: auto !important;
				&.sm-ib {
					display: inline-block;
				}
				&.hidden-sm {
					display: none !important;
				}
			}
			> th {
				display: none;
			}
		}
	}

}

.main-menu {
	ul {
		padding: 0;
	}
	a:hover {
		text-decoration: none;
		color: #faa !important;
	}
	.home a:before {
		content: "\f015";
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
	.search a:before {
	    content: "\f002";
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
	.orders a:before {
		content: "\f0e3";
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
	.favs a:before {
		content: "\f02e";
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
	.filter a:before {
		content: "\f0b0";
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
	
	.login a {
		padding-left: 25px;
		background: left center no-repeat url(../img/login-icon.png);
	}
	.register a {
		padding-left: 25px;
		background: left center no-repeat url(../img/reg-icon.png);
	}
}

.info-page {
	padding: 20px;
	img {
		max-width: 100%;
	}
}

#vk_groups {
	width: 100% !important;
}

#vk_comments {
	width: 100% !important;
	overflow: hidden;
}

#login-form {
	min-height: 240px;
	.g-recaptcha {
		margin-bottom: 20px;
		min-height: 78px;
		overflow: hidden;
	}
}

.login-button {
	margin-bottom: 10px;
}

.login-options {
	text-align: center;
	text-decoration: none;
	a, span {
		margin: 0 5px;
	}
	a {
		color: #555;
	}
}

.user-type-choose {
	label {
		cursor: pointer;
	}
}

.site-login {
	width: 75%;
	max-width: 650px;
	border-radius: 10px;
	padding: 20px 10px;
	background: rgba(255,255,255,0.7);
	color: #000;
	margin: 20px auto 20px;
	position: relative;
	h2 {
		text-align: center;
	}
	.left-chuvak, .right-chuvak {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 150px;
	}
	.left-chuvak {
		left: 0;
		background: url(../img/p3.png) center no-repeat;
	}
	.right-chuvak {
		right: 0;
		background: url(../img/p4.png) center no-repeat;
	}
	.login-internal {
		margin: 0 150px;
		button {
			float: left;
			margin-right: 10px;
			height: 32px;
		    line-height: 1;
		    padding: 10px;
		}
	}
}

.nowrap {
	white-space: nowrap;
}

.nounderline a {
	text-decoration: none;
}

.vh-allwrap {
	min-height: 100vh;
	padding-bottom: 235px;
	position: relative;
	.pg-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.inner-section {
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 25px 5px;
	padding: 25px 20px;
	color: #000;
	width: 94%;
	max-width: 1240px;
	border-radius: 10px;
	margin: 20px auto 50px;
}

.reg-enter-wrap.header {
	a {
		color: inherit;
	}
}

.portfolio-toggle + .portfolio { display: none; }
.portfolio-toggle.active + .portfolio { display: block; }
.portfolio-toggle {
	.show-on-inactive {
		display: inline;
	}
	.show-on-active {
		display: none;
	}
	&.active {
		.show-on-inactive {
			display: none;
		}
		.show-on-active {
			display: inline;
		}
	}
}

.portfolio {
	.unhide-portfolio {
		display: block;
		margin-bottom: 0.5em;
	}
	.portfolio-item {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		margin-bottom: 10px;
		text-align: center;
		max-width: 100%;
		&.image-item {
			max-width: 45%;
			img {
				max-width: 100%;
			}
		}
		&.youtube-item {
			img {
				max-width: 100%;
			}
		}
		
	}
	.hidden-video {
		display: none;
	}
	.video {
		height: 180px;
		width: 320px;
		max-width: 100%;
		position: relative;
		iframe {
			min-height: initial;
			max-width: 100%;
		}
	}
}
.hidden-video {
	height: 100%;
}

.hilite-required {
	.required, .field-order-phone, .field-order-phone_add, .field-order-phone_verify {
		label:after,  label:after {
			content: "*";
			color: red;
			margin-left: 3px;
		}
	}
}

.intro-item, .how-we-work {
	p {
		margin: 1em auto;
		font-family: 'Open Sans', sans-serif;
	}
	h2 {
		font-weight: bold;
	}
}

.portfolio-add-image {
	margin-bottom: 10px;
}

.portfolio-add-video {
	position: relative;
	button {
		float: right;
		width: 175px;
	}
	.add-video-wrap {
		margin-right: 180px;
		margin-bottom: 20px;
		input[type=text] {
			height: 43px;
		}
	}
}

.order-phones {
	.phone-add {
		display: none;
	}
	&.new-phone {
		.phone-add {
			display: block;
		}
		.select-phone {
			display: none;
		}
	}
}

.favs-toggle {
	text-decoration: none;
	.on { display: none; }
	.off { display: inline-block; }
	&.in-favs {
		.on { display: inline-block; }
		.off { display: none; }
	}
}

.cutted-form {
	max-width: 900px;
	margin: 0 auto 20px;
}

.wide-btn {
	min-width: 200px;
	font-size: 12px;
}

.rounded-greetings {
	display: inline-block;
	min-width: 100px;
	font-size: 20px;
	border-radius: 15px;
	background: #fff;
	padding: 5px;
	margin-bottom: 15px;
	position: relative;
	.triangle {
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #fff transparent transparent transparent;
		position: absolute;
		left: 50%;
		margin-left: -5px;
		bottom: -10px;
	}
}

@media (max-width: 768px) {
	.vh-allwrap {
		min-height: initial;
		padding-bottom: 0;
		.pg-footer {
			position: static;
		}
	}
	.site-login {
		width: 90%;
		.login-internal {
			margin: 0;
		}
		.left-chuvak, .right-chuvak {
			display: none;
		}
	}
	
	.route-site_index .logo-wrap-small {
		display: none;
	}
}

.pay-bars-items {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: 1px solid #000;
    padding: 20px 20px 15px;
    color: #000;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 200px;
    .title {
    	font-size: 20px;
    	margin-bottom: 10px;
    }
    .cost {
    	margin-bottom: 15px;
    }
}

.reviews-list {
	padding-top: 20px;
	.review-item {
		margin-bottom: 15px;
		.rate {
			margin-bottom: 5px;
		}
		.fio, .project, .rate, .name {
			font-size: 12px;
		}
		.name {
			margin-left: 20px;
			font-weight: bold;
			margin-bottom: 2px;
			.date {
				color: #888;
			}
		}
	}
	.review-body {
		display: inline-block;
		padding: 10px;
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
	}
	.fa-quote-left {
		position: relative;
		margin-top: -3px;
		color: rgba(255,255,255,0.5);
	}
	.fa-quote-right {
		position: relative;
		top: 10px;
		color: rgba(255,255,255,0.5);
	}
}

.bars-userlist-section, h2 {
	    .reviews {
	    	font-size: 70%;
	    	.positive {
	    		color: #080;
	    		&:before {
	    			content: '+';
	    		}
	    	}
	    	.neutral {
	    		color: #666;
	    	}
	    	.negative {
	    		color: #800;
	    		&:before {
	    			content: '-';
	    		}
	    	}
	    }
}

.bars-userlist-section, .bars-orderlist-section {
	margin-bottom: 30px;
	.top-action-buttons {
		margin-bottom: 20px;
	}
	.userlist-item, .orderlist-item {
	    background-color: rgba(255, 255, 255, .7);
	    border-radius: 5px;
	    border: 1px solid #000;
	    padding: 20px 20px 15px;
	    color: #000;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    .title {
	    	font-size: 20px;
	    	margin-bottom: 10px;
	    	a {
	    		text-decoration: none;
	    	}
	    	.servitor-type {
	    		font-size: 14px;
	    		color: #444;
	    	}
	    }
	   	.comment-text {
	   		white-space: pre-line;
	   	}
	    .buttons {
	    	.btn {
	    		margin-bottom: 10px;
	    	}
	    }
	    .preview {
	    	padding: 10px;
	    	background: rgba(255,255,255,0.2);
	    	border-radius: 5px;
	    	.date, .type, .autohide, .region {
	    		margin-bottom: 5px;
				color: rgba(0,0,0,0.7);
				.val {
					color: #000;
				}
	    	}
	    }
	    .photo {
	    	text-align: center;
		    	img {
		    	width: 100%;
		    	max-width: 175px;
		    	height: auto;
		    	border: solid 1px rgba(0,0,0,0.3);
		    	&.nophoto {
		    		max-width: 115px;
		    		border: none;
		    	}
	    	}
	    }
	    .mb {
	    	margin-bottom: 20px;
	    }
	}
	a {
		color: inherit;
	}
}

.chat-section {
	max-width: 670px;
	margin: 0 auto;
}

.chats-list {
	.contragent {
		img {
			width: 75px;
			height: auto;
		}
	}
}

.online-status {
	&.online {
		color: #080;
	}
	&.offline {
		color: #888;
	}
}

.subscription {
	font-size: 12px;
	color: #999;
}

.chat-with-user {
	.empty, .summary {
		display: none;
	}
	.mt {
		margin-top: 20px;
	}
	.chat-title {
		margin-bottom: 10px;
	}
	.chat-hdr {
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.timestamp {
		font-size: 10px;
		color: rgba(0,0,0,0.5);
	}
	.buttons + label {
		margin-top: 20px;
	}
	.incoming {
		text-align: right;
		.pipka {
			left: auto !important;
			right: 15%;
			border-color: rgba(0,0,255,0.2) transparent transparent transparent !important;
		}
		.message-inner {
			background: rgba(0,0,255,0.2);
		}
	}
	.message-inner {
		margin-bottom: 20px;
		display: inline-block;
		max-width: 280px;
		background: rgba(0,0,0,0.1);
		padding: 7px 10px;
		border-radius: 10px;
		position: relative;
		.pipka {
			position: absolute;
			width: 0;
			height: 0;
			bottom: -10px;
			left: 15%;
			border-style: solid;
			border-width: 10px 5px 0 5px;
			border-color: rgba(0,0,0,0.1) transparent transparent transparent;
		}
	}
}


form .field-order-social {
	.not-show {
		display: none;
	}
	label {
		cursor: pointer;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

footer a {
	color: inherit;
	&:hover {
		color: inherit;
	}
}

.expand-more-hint {
	color: #666;
	cursor: pointer;
	& + .expand-more {
		display: none;
	}
	&.clicked {
		display: none;
	}
	&.clicked + .expand-more {
		display: inline;
	}
}

.services, .resume {
    .taglist {
		color: rgba(0,0,0,0.7);
    	ul {
			font-size: 12px;
    		list-style: none;
    		display: inline-block;
    		margin: 0;
    		padding: 0;
    		li {
    			display: inline-block;
    			padding: 2px 5px;
    			border-radius: 4px;
    			border: solid 1px rgba(0,0,0,0.2);
    			margin-bottom: 5px;
    		}
	    }
    }
}
