.file-input .input-group-btn {
  font-size: 11px;
}
.file-input .input-group-btn button {
  height: 34px;
}
.datepicker table {
  color: #000;
}
form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table.noborders,
table.noborders tr,
table.noborders td {
  border: none;
}
.nomt {
  margin-top: 0;
}
form label {
  font-size: .9em;
}
form input[type=text],
f form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form textarea,
form select {
  display: inline-block;
  width: 100%;
}
form input[type=text],
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form textarea,
form select {
  padding: .5em 1em;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
  background: #fff;
}
form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
}
form textarea {
  min-height: 140px;
}
form input[type='submit'] {
  padding: 1em 1em;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 700;
  background-color: #01b5d1;
  border: 1px solid #01b5d1;
  border-radius: 5px;
  max-width: 353px;
  width: 100%;
}
form input[type='submit']:hover {
  background-color: #007472;
  border: 1px solid #007472;
}
.btn {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 1em 1em;
  border-radius: 5px;
  background-color: #01b5d1;
}
.btn i.fa {
  margin-right: 5px;
}
.btn:hover {
  background-color: #007472;
}
.modal_form {
  width: 75%;
  /* height: 320px; */
  border-radius: 5px;
  background: #fff;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  left: 14%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
/* Пoдлoжкa */
.overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */
}
.modal-p {
  margin-top: 0px;
}
.video-cl {
  width: 50%;
  height: 315px;
}
.deals .avatar {
  width: 1%;
}
.deals .avatar img {
  width: 75px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .video-cl {
    width: 90%;
  }
  .modal-p {
    font-size: 0px;
  }
  table.sm-blocks > tr,
  table.sm-blocks > tbody > tr {
    display: block;
  }
  table.sm-blocks > tr > td,
  table.sm-blocks > tbody > tr > td {
    display: block;
    border: none;
    width: auto !important;
  }
  table.sm-blocks > tr > td.sm-ib,
  table.sm-blocks > tbody > tr > td.sm-ib {
    display: inline-block;
  }
  table.sm-blocks > tr > td.hidden-sm,
  table.sm-blocks > tbody > tr > td.hidden-sm {
    display: none !important;
  }
  table.sm-blocks > tr > th,
  table.sm-blocks > tbody > tr > th {
    display: none;
  }
}
.main-menu ul {
  padding: 0;
}
.main-menu a:hover {
  text-decoration: none;
  color: #faa !important;
}
.main-menu .home a:before {
  content: "\f015";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.main-menu .search a:before {
  content: "\f002";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.main-menu .orders a:before {
  content: "\f0e3";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.main-menu .favs a:before {
  content: "\f02e";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.main-menu .filter a:before {
  content: "\f0b0";
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.main-menu .login a {
  padding-left: 25px;
  background: left center no-repeat url(../img/login-icon.png);
}
.main-menu .register a {
  padding-left: 25px;
  background: left center no-repeat url(../img/reg-icon.png);
}
.info-page {
  padding: 20px;
}
.info-page img {
  max-width: 100%;
}
#vk_groups {
  width: 100% !important;
}
#vk_comments {
  width: 100% !important;
  overflow: hidden;
}
#login-form {
  min-height: 240px;
}
#login-form .g-recaptcha {
  margin-bottom: 20px;
  min-height: 78px;
  overflow: hidden;
}
.login-button {
  margin-bottom: 10px;
}
.login-options {
  text-align: center;
  text-decoration: none;
}
.login-options a,
.login-options span {
  margin: 0 5px;
}
.login-options a {
  color: #555;
}
.user-type-choose label {
  cursor: pointer;
}
.site-login {
  width: 75%;
  max-width: 650px;
  border-radius: 10px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  margin: 20px auto 20px;
  position: relative;
}
.site-login h2 {
  text-align: center;
}
.site-login .left-chuvak,
.site-login .right-chuvak {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
}
.site-login .left-chuvak {
  left: 0;
  background: url(../img/p3.png) center no-repeat;
}
.site-login .right-chuvak {
  right: 0;
  background: url(../img/p4.png) center no-repeat;
}
.site-login .login-internal {
  margin: 0 150px;
}
.site-login .login-internal button {
  float: left;
  margin-right: 10px;
  height: 32px;
  line-height: 1;
  padding: 10px;
}
.nowrap {
  white-space: nowrap;
}
.nounderline a {
  text-decoration: none;
}
.vh-allwrap {
  min-height: 100vh;
  padding-bottom: 235px;
  position: relative;
}
.vh-allwrap .pg-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.inner-section {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 25px 5px;
  padding: 25px 20px;
  color: #000;
  width: 94%;
  max-width: 1240px;
  border-radius: 10px;
  margin: 20px auto 50px;
}
.reg-enter-wrap.header a {
  color: inherit;
}
.portfolio-toggle + .portfolio {
  display: none;
}
.portfolio-toggle.active + .portfolio {
  display: block;
}
.portfolio-toggle .show-on-inactive {
  display: inline;
}
.portfolio-toggle .show-on-active {
  display: none;
}
.portfolio-toggle.active .show-on-inactive {
  display: none;
}
.portfolio-toggle.active .show-on-active {
  display: inline;
}
.portfolio .unhide-portfolio {
  display: block;
  margin-bottom: 0.5em;
}
.portfolio .portfolio-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 100%;
}
.portfolio .portfolio-item.image-item {
  max-width: 45%;
}
.portfolio .portfolio-item.image-item img {
  max-width: 100%;
}
.portfolio .portfolio-item.youtube-item img {
  max-width: 100%;
}
.portfolio .hidden-video {
  display: none;
}
.portfolio .video {
  height: 180px;
  width: 320px;
  max-width: 100%;
  position: relative;
}
.portfolio .video iframe {
  min-height: initial;
  max-width: 100%;
}
.hidden-video {
  height: 100%;
}
.hilite-required .required label:after,
.hilite-required .field-order-phone label:after,
.hilite-required .field-order-phone_add label:after,
.hilite-required .field-order-phone_verify label:after,
.hilite-required .required label:after,
.hilite-required .field-order-phone label:after,
.hilite-required .field-order-phone_add label:after,
.hilite-required .field-order-phone_verify label:after {
  content: "*";
  color: red;
  margin-left: 3px;
}
.intro-item p,
.how-we-work p {
  margin: 1em auto;
  font-family: 'Open Sans', sans-serif;
}
.intro-item h2,
.how-we-work h2 {
  font-weight: bold;
}
.portfolio-add-image {
  margin-bottom: 10px;
}
.portfolio-add-video {
  position: relative;
}
.portfolio-add-video button {
  float: right;
  width: 175px;
}
.portfolio-add-video .add-video-wrap {
  margin-right: 180px;
  margin-bottom: 20px;
}
.portfolio-add-video .add-video-wrap input[type=text] {
  height: 43px;
}
.order-phones .phone-add {
  display: none;
}
.order-phones.new-phone .phone-add {
  display: block;
}
.order-phones.new-phone .select-phone {
  display: none;
}
.favs-toggle {
  text-decoration: none;
}
.favs-toggle .on {
  display: none;
}
.favs-toggle .off {
  display: inline-block;
}
.favs-toggle.in-favs .on {
  display: inline-block;
}
.favs-toggle.in-favs .off {
  display: none;
}
.cutted-form {
  max-width: 900px;
  margin: 0 auto 20px;
}
.wide-btn {
  min-width: 200px;
  font-size: 12px;
}
.rounded-greetings {
  display: inline-block;
  min-width: 100px;
  font-size: 20px;
  border-radius: 15px;
  background: #fff;
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
}
.rounded-greetings .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
}
@media (max-width: 768px) {
  .vh-allwrap {
    min-height: initial;
    padding-bottom: 0;
  }
  .vh-allwrap .pg-footer {
    position: static;
  }
  .site-login {
    width: 90%;
  }
  .site-login .login-internal {
    margin: 0;
  }
  .site-login .left-chuvak,
  .site-login .right-chuvak {
    display: none;
  }
  .route-site_index .logo-wrap-small {
    display: none;
  }
}
.pay-bars-items {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: 1px solid #000;
  padding: 20px 20px 15px;
  color: #000;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 200px;
}
.pay-bars-items .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.pay-bars-items .cost {
  margin-bottom: 15px;
}
.reviews-list {
  padding-top: 20px;
}
.reviews-list .review-item {
  margin-bottom: 15px;
}
.reviews-list .review-item .rate {
  margin-bottom: 5px;
}
.reviews-list .review-item .fio,
.reviews-list .review-item .project,
.reviews-list .review-item .rate,
.reviews-list .review-item .name {
  font-size: 12px;
}
.reviews-list .review-item .name {
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}
.reviews-list .review-item .name .date {
  color: #888;
}
.reviews-list .review-body {
  display: inline-block;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.reviews-list .fa-quote-left {
  position: relative;
  margin-top: -3px;
  color: rgba(255, 255, 255, 0.5);
}
.reviews-list .fa-quote-right {
  position: relative;
  top: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.bars-userlist-section .reviews,
h2 .reviews {
  font-size: 70%;
}
.bars-userlist-section .reviews .positive,
h2 .reviews .positive {
  color: #080;
}
.bars-userlist-section .reviews .positive:before,
h2 .reviews .positive:before {
  content: '+';
}
.bars-userlist-section .reviews .neutral,
h2 .reviews .neutral {
  color: #666;
}
.bars-userlist-section .reviews .negative,
h2 .reviews .negative {
  color: #800;
}
.bars-userlist-section .reviews .negative:before,
h2 .reviews .negative:before {
  content: '-';
}
.bars-userlist-section,
.bars-orderlist-section {
  margin-bottom: 30px;
}
.bars-userlist-section .top-action-buttons,
.bars-orderlist-section .top-action-buttons {
  margin-bottom: 20px;
}
.bars-userlist-section .userlist-item,
.bars-orderlist-section .userlist-item,
.bars-userlist-section .orderlist-item,
.bars-orderlist-section .orderlist-item {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: 1px solid #000;
  padding: 20px 20px 15px;
  color: #000;
  margin-top: 1em;
  margin-bottom: 1em;
}
.bars-userlist-section .userlist-item .title,
.bars-orderlist-section .userlist-item .title,
.bars-userlist-section .orderlist-item .title,
.bars-orderlist-section .orderlist-item .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.bars-userlist-section .userlist-item .title a,
.bars-orderlist-section .userlist-item .title a,
.bars-userlist-section .orderlist-item .title a,
.bars-orderlist-section .orderlist-item .title a {
  text-decoration: none;
}
.bars-userlist-section .userlist-item .title .servitor-type,
.bars-orderlist-section .userlist-item .title .servitor-type,
.bars-userlist-section .orderlist-item .title .servitor-type,
.bars-orderlist-section .orderlist-item .title .servitor-type {
  font-size: 14px;
  color: #444;
}
.bars-userlist-section .userlist-item .comment-text,
.bars-orderlist-section .userlist-item .comment-text,
.bars-userlist-section .orderlist-item .comment-text,
.bars-orderlist-section .orderlist-item .comment-text {
  white-space: pre-line;
}
.bars-userlist-section .userlist-item .buttons .btn,
.bars-orderlist-section .userlist-item .buttons .btn,
.bars-userlist-section .orderlist-item .buttons .btn,
.bars-orderlist-section .orderlist-item .buttons .btn {
  margin-bottom: 10px;
}
.bars-userlist-section .userlist-item .preview,
.bars-orderlist-section .userlist-item .preview,
.bars-userlist-section .orderlist-item .preview,
.bars-orderlist-section .orderlist-item .preview {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.bars-userlist-section .userlist-item .preview .date,
.bars-orderlist-section .userlist-item .preview .date,
.bars-userlist-section .orderlist-item .preview .date,
.bars-orderlist-section .orderlist-item .preview .date,
.bars-userlist-section .userlist-item .preview .type,
.bars-orderlist-section .userlist-item .preview .type,
.bars-userlist-section .orderlist-item .preview .type,
.bars-orderlist-section .orderlist-item .preview .type,
.bars-userlist-section .userlist-item .preview .autohide,
.bars-orderlist-section .userlist-item .preview .autohide,
.bars-userlist-section .orderlist-item .preview .autohide,
.bars-orderlist-section .orderlist-item .preview .autohide,
.bars-userlist-section .userlist-item .preview .region,
.bars-orderlist-section .userlist-item .preview .region,
.bars-userlist-section .orderlist-item .preview .region,
.bars-orderlist-section .orderlist-item .preview .region {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
}
.bars-userlist-section .userlist-item .preview .date .val,
.bars-orderlist-section .userlist-item .preview .date .val,
.bars-userlist-section .orderlist-item .preview .date .val,
.bars-orderlist-section .orderlist-item .preview .date .val,
.bars-userlist-section .userlist-item .preview .type .val,
.bars-orderlist-section .userlist-item .preview .type .val,
.bars-userlist-section .orderlist-item .preview .type .val,
.bars-orderlist-section .orderlist-item .preview .type .val,
.bars-userlist-section .userlist-item .preview .autohide .val,
.bars-orderlist-section .userlist-item .preview .autohide .val,
.bars-userlist-section .orderlist-item .preview .autohide .val,
.bars-orderlist-section .orderlist-item .preview .autohide .val,
.bars-userlist-section .userlist-item .preview .region .val,
.bars-orderlist-section .userlist-item .preview .region .val,
.bars-userlist-section .orderlist-item .preview .region .val,
.bars-orderlist-section .orderlist-item .preview .region .val {
  color: #000;
}
.bars-userlist-section .userlist-item .photo,
.bars-orderlist-section .userlist-item .photo,
.bars-userlist-section .orderlist-item .photo,
.bars-orderlist-section .orderlist-item .photo {
  text-align: center;
}
.bars-userlist-section .userlist-item .photo img,
.bars-orderlist-section .userlist-item .photo img,
.bars-userlist-section .orderlist-item .photo img,
.bars-orderlist-section .orderlist-item .photo img {
  width: 100%;
  max-width: 175px;
  height: auto;
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.bars-userlist-section .userlist-item .photo img.nophoto,
.bars-orderlist-section .userlist-item .photo img.nophoto,
.bars-userlist-section .orderlist-item .photo img.nophoto,
.bars-orderlist-section .orderlist-item .photo img.nophoto {
  max-width: 115px;
  border: none;
}
.bars-userlist-section .userlist-item .mb,
.bars-orderlist-section .userlist-item .mb,
.bars-userlist-section .orderlist-item .mb,
.bars-orderlist-section .orderlist-item .mb {
  margin-bottom: 20px;
}
.bars-userlist-section a,
.bars-orderlist-section a {
  color: inherit;
}
.chat-section {
  max-width: 670px;
  margin: 0 auto;
}
.chats-list .contragent img {
  width: 75px;
  height: auto;
}
.online-status.online {
  color: #080;
}
.online-status.offline {
  color: #888;
}
.subscription {
  font-size: 12px;
  color: #999;
}
.chat-with-user .empty,
.chat-with-user .summary {
  display: none;
}
.chat-with-user .mt {
  margin-top: 20px;
}
.chat-with-user .chat-title {
  margin-bottom: 10px;
}
.chat-with-user .chat-hdr {
  margin-top: 0px;
  margin-bottom: 20px;
}
.chat-with-user .timestamp {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.chat-with-user .buttons + label {
  margin-top: 20px;
}
.chat-with-user .incoming {
  text-align: right;
}
.chat-with-user .incoming .pipka {
  left: auto !important;
  right: 15%;
  border-color: rgba(0, 0, 255, 0.2) transparent transparent transparent !important;
}
.chat-with-user .incoming .message-inner {
  background: rgba(0, 0, 255, 0.2);
}
.chat-with-user .message-inner {
  margin-bottom: 20px;
  display: inline-block;
  max-width: 280px;
  background: rgba(0, 0, 0, 0.1);
  padding: 7px 10px;
  border-radius: 10px;
  position: relative;
}
.chat-with-user .message-inner .pipka {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  left: 15%;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
}
form .field-order-social .not-show {
  display: none;
}
form .field-order-social label {
  cursor: pointer;
  text-decoration: underline;
}
form .field-order-social label:hover {
  text-decoration: none;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
}
.expand-more-hint {
  color: #666;
  cursor: pointer;
}
.expand-more-hint + .expand-more {
  display: none;
}
.expand-more-hint.clicked {
  display: none;
}
.expand-more-hint.clicked + .expand-more {
  display: inline;
}
.services .taglist,
.resume .taglist {
  color: rgba(0, 0, 0, 0.7);
}
.services .taglist ul,
.resume .taglist ul {
  font-size: 12px;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.services .taglist ul li,
.resume .taglist ul li {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
