/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #414f72;
	text-shadow: none;
	color: #fff;
}

::selection {
	background: #414f72;
	text-shadow: none;
	color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* **************************************************************************
MAIN
***************************************************************************** */
/* ********** General ********** */
*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	background-image: url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-color: #000;
	margin: 0;
}
h1 {
	font-size: 2.6em;
	text-align: center;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.3em;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}
form {
	width: 100%;
}
form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form label {
	font-size: .9em;
}
form input[type=text],
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form select {
	display: inline-block;
	width: 100%;
}

form textarea {
	display: inline-block;
	width: 50%;
}
form input[type=text],
form input[type=email],
form input[type=url],
form input[type=password],
form input[type=tel],
form input[type=date],
form textarea,
form select {
	padding: .5em 1em;
	border-radius: 5px;
	border: 1px solid #9a9a9a;
	background: rgba(255, 255, 255, .7);
}
form input:focus,
form textarea:focus,
form select:focus {
	outline: none;
}
form textarea {
	min-height: 140px;
}
form input[type='submit'] {
	padding: 1em 1em;
	text-transform: uppercase;
	color: #fff !important;
	font-weight: 700;
	background-color: #01b5d1;
	border: 1px solid #01b5d1;
	border-radius: 5px;
	max-width: 353px;
	width: 100%;
}
form input[type='submit']:hover {
	background-color: #007472;
	border: 1px solid #007472;
}
#filterform select {
	width: 100% !important;
}
#ffrm select {
	width: 100% !important;
}
@media only screen and (max-width : 768px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
	.enter-section {
		background-image: url(../img/p5.png);
		background-position: 90% center;
		background-repeat: no-repeat;
	}
}
@media only screen and (max-width : 480px) {
	html {
		font-size: 13px;
	}
}

/* FORM2 */
form.form2 header {
	margin: 0 0 20px 0; 
}
form.form2 header div {
	font-size: 90%;
}
form.form2 header h2 {
	margin: 0 0 5px 0;
}
form.form2 > div {
	clear: both;
	overflow: hidden;
	padding: 1px;
	margin: 0 0 10px 0;
}
form.form2 > div > fieldset > div > div {
	margin: 0 0 5px 0;
}
form.form2 > div > label,
form.form2 legend {
	width: 25%;
 	float: left;
 	padding-right: 10px;
}
form.form2 > div > div,
form.form2 > div > fieldset > div {
 	width: 75%;
 	float: right;
}
form.form2 > div > fieldset label {
	font-size: 90%;
}
form.form2 fieldset {
	border: 0;
  	padding: 0;
}

form.form2 input[type=url],
form.form2 input[type=date],
form.form2 a.upl-hpto {
	width: 50% !important;
}
form.form2 input[type=text],
form.form2 input[type=tel],
form.form2 input[type=password],
form.form2 input[type=email],
form.form2 select {
	width: 50%;
}
@media (max-width: 600px) {
	form.form2 input[type=text],
		form.form2 input[type=email],
		form.form2 input[type=url],
		form.form2 input[type=password],
		form.form2 input[type=tel],
		form.form2 input[type=date],
		form.form2 select,
		form.form2 a.upl-hpto {
			width: 100% !important;
		}
		form.form2 input[type=submit] {
			width: 100%;
			max-width: none;
		}
}
form.form2 input[type=text]:focus,
form.form2 input[type=email]:focus,
form.form2 input[type=url]:focus,
form.form2 input[type=password]:focus,
form.form2 input[type=tel]:focus,
form.form2 input[type=date]:focus,
form.form2 textarea:focus {
	outline: 0;
}

@media (max-width: 600px) {
  form.form2 > div {
		margin: 0 0 15px 0; 
  }
  form.form2 > div > label,
  legend {
		width: 100%;
		float: none;
		margin: 0 0 5px 0;
  }
  form.form2 > div > div,
  form.form2 > div > fieldset > div {
		width: 100%;
		float: none;
  }
  form.form2 input[type=text],
  form.form2 input[type=email],
  form.form2 input[type=url],
  form.form2 input[type=password],
  form.form2 textarea,
  form.form2 select {
		width: 100%; 
  }
}
@media (min-width: 1200px) {
  form.form2 > div > label,
  form.form2 legend {		
		text-align: right;
  }
}
/* ********** General Classes ********** */
.inner {
	max-width: 1240px;
	width: 94%;
	margin: 0 auto;
}
.pg-section {
	padding: 1.429em 0;
}
.white-section {
	background-color: rgba(255, 255, 255, .7);
	border-radius: 5px;
	border: 1px solid #000;
	padding: 0.357em 0.714em;
	color: #000;
	margin-top: 1em;
	margin-bottom: 1em;
}
.white-section a {
	color: #290b41;
}
.mt-none {
	margin-top: 0;
}
.center {
	text-align: center;
}
/* ********** Buttons ********** */
.btn {
	font-size: 0.857em;
	text-transform: uppercase;
	color: #fff !important;
	text-decoration: none;
	display: inline-block;
	font-weight: 700;
	padding: 1em 2.5em;
	border-radius: 5px;
	background-color: #01b5d1;
}
.btn:hover {
	background-color: #007472;
}
.btn-red {
	font-size: 0.857em;
	text-transform: uppercase;
	color: #fff !important;
	text-decoration: none;
	display: inline-block;
	font-weight: 700;
	padding: 1em 2.5em;
	border-radius: 5px;
	background-color: #dd345c;
}
.btn-red:hover {
	background-color: #b22323;
}
/* ********** Reset BXSlider ********** */
.bx-wrapper {
	/*margin: 1em 0 2.857em 0;*/
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	left: 0;
	background: none;
	border: none;
}
/* ********** Accordion ********** */
.accordion {
	margin: 1em 0;
}
.accordion h3 {
	margin: 0;
	padding: .5em .5em;
	background-color: #101324;
	color: #fff;
	border-bottom: 1px solid #2c314c;
	cursor: pointer;
}
.accordion h3:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.accordion h3:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.accordion h4 {
	margin: 0;
	padding: .5em .5em;
	background-color: #fff;
	color: #000;
	border-top: 1px solid #e8e8e8;
	cursor: pointer;
}
.accordion h4:first-of-type {
	border-top: none;
}
.accordion div, .accordion p {
  display: none;
  padding: 0 .5em;
}
.accordion .opened-for-codepen {
  display: block;
}
/* ********** Tags List ********** */
.tags-list {
	padding: 0;
	list-style: 0;
	margin: 1em 0;
}
.tags-list li,
.tags-list a {
	display: inline-block;
}
.tags-list li {
	margin: 0 .15em .35em 0;
}
.tags-list a {
	text-decoration: none;
	padding: .25em .75em;
	border-radius: 5px;
	background-color: rgba(255,255,255,.7);
	color: #000;
	font-size: .9em;
}
.tags-list a:hover {
	background-color: rgba(255,255,255,1);
}
/* ********** Pagination ********** */
.pagination {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.pagination li,
.pagination a {
	display: inline-block;
}
.pagination li {
	margin: 0 .15em;
}
.pagination a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	font-weight: 700;
}
.pagination a:hover {
	background-color: #ccc;
}
.pagination a.pag-active {
	background-color: #dd345c;
	color: #fff;
}
a.pag-prev {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
a.pag-next {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
a.pag-prev,
a.pag-next {
	background-color: #01b5d1;
	color: #fff;
}
a.pag-prev:hover,
a.pag-next:hover {
	background-color: #007472;
	color: #fff;
}
/* ********** Liked List ********** */
.likeed-list {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.likeed-list span,
.likeed-list li,
.likeed-list a {
	display: inline-block;
	vertical-align: middle;
}
li.likeed-plus a {
	color: green;
	width: 32px;
	height: 32px;
	background-image: url('../img/like.png');
}
li.likeed-minus a {
	color: red;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('../img/unlike.png');
}
li.likeed-plus span {
	color: green;
}
li.likeed-minus span {
	color: red;
}
/* ********** User Photo ********** */
.userphoto {
	margin: 1em 0;
}
.userphoto div {
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	border-radius: 50%;
}
.userphoto img {
	max-width: 100%;
	border-radius: 50%;
}
/* ********** Help Block ********** */
.help {
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #01b5d1;
	padding: 1em;
	font-size: .929em;
	font-style: italic;
	margin: 1em 0;
	background-image: url('../img/info2.png');
	background-repeat: no-repeat;
	background-position: top right;
}
/* **************************************************************************
REG ENTER HEADER
***************************************************************************** */
.reg-enter-wrap {
	background-color: rgba(0, 0, 0, .7);
	padding: 1.071em 0;
}
.reg-enter-wrap .logo-wrap {
	float: left;
	margin-top: 1em;
}
.reg-enter-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	float: right;
}
.reg-enter-list li {
	display: inline-block;
	margin: 0 0.357em;
	vertical-align: middle;
}
.reg-enter-list a {
	font-size: .9em;
	vertical-align: middle;
	text-decoration: none;
	line-height: 1.9;
	display: inline-block;
}
.reg-enter-list a:hover {
	text-decoration: underline;
}
.reg-enter-list li.active a {
	color: #999;
}

.reg-enter-list li.report {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.reg-enter-list li.report a {
	background-color: #01bbd9;
	width: 100%;
	display: block;
	font-size: 1.214em;
	padding: .1em .5em;
	text-decoration: none;
	border-radius: 5px;
}
.reg-enter-list li.report a:hover {
	background-color: #007472;
}
.rel-2 {
	background-image: url(../img/hi7.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
.rel-3 {
	background-image: url(../img/hi5.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
.rel-4 {
	background-image: url(../img/hi4.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.rel-5 {
	background-image: url(../img/hi2.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
.rel-6 {
	background-image: url(../img/hi3.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
.rel-7 {
	background-image: url(../img/hi1.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
.rel-8 {
	background-image: url(../img/hi6.png);
	background-position: left center;
	padding-left: 30px;
	background-repeat: no-repeat;
}
@media only screen and (max-width : 768px) {
	.reg-enter-wrap {
		text-align: center;
		background: none;
		padding-bottom: 0;
	}
	.reg-enter-list  {
		float: none;
		text-align: center;
	}
	.reg-enter-wrap .logo-wrap {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.reg-enter-list {
		float: none;
		width: 100%;
	}
}
/* **************************************************************************
HOME HEADER
***************************************************************************** */
.home-header-wrap {
	text-align: center;
}
.logo-wrap {
	margin: 1.714em 0 0 0;
}
.logo {
	display: inline-block;
	color: inherit !important;
	font-weight: 700;
	text-decoration: none;
	font-size: 2.286em;
	letter-spacing: 1px;
	vertical-align: middle;
}
.logo:before {
	content: " ";
	display: inline-block;
	width: 32px;
	height: 39px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 10px 0 0;
	vertical-align: top;
}
.logo-wrap-small {
	width: 238px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.logo-wrap-small a {
	position: relative;
	vertical-align: top;
	font-size: 1.6em;
}
.logo-wrap-small p {
	text-align: left;
	font-size: .8em;
	margin-left: 42px;
	margin-top: -10px;
}
.home-header-wrap .logo {
	font-size: 3.4em;
}
.home-header-wrap .logo:before {
	content: " ";
	display: inline-block;
	width: 60px;
	height: 73px;
	background-image: url('../img/logobig.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 10px 0 0;
	vertical-align: top;
}
.home-header-wrap p {
	font-size: 1.643em;
	font-weight: 300;
	margin-top: 0;
}
@media only screen and (max-width : 768px) {
	.home-header-wrap .logo:before {
		content: " ";
		display: inline-block;
		width: 32px;
		height: 39px;
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		margin: 0 10px 0 0;
		vertical-align: top;
	}
	.home-header-wrap .logo {
		font-size: 2.286em;
	}
	.home-header-wrap p {
		font-size: 1.286em;
		font-weight: 300;
	}

}
/* **************************************************************************
HOME INTRO
***************************************************************************** */
.intro-wrap {
	text-align: center;
}
.intro-wrap .intro-left {
	float: left;
	width: 48%;
}
.intro-wrap .intro-right {
	float: right;
	width: 48%;
}
.intro-img {
	margin: 1em 0;
	text-align: center;
}
.intro-img img {
	max-width: 90%;
}
.intro-left .intro-img {
	float: left;
	width: 25%;
}
.intro-left .white-section {
	float: left;
	width: 75%;
	position: relative;
	border: none;
	background-color: rgba(255,255,255,1);
	font-size: 1.286em;
}
.intro-right .intro-img {
	float: right;
	width: 25%;
}
.intro-right .white-section {
	float: right;
	width: 75%;
	position: relative;
	border: none;
	background-color: rgba(255,255,255,1);
	font-size: 1.286em;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid rgba(255,255,255,.7);
	position: absolute;
	top: 25px;
	right: -10px;
}
.intro-wrap .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid rgba(255,255,255,1);
	position: absolute;
	top: 25px;
	right: -20px;
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid rgba(255,255,255,.7);
	position: absolute;
	top: 25px;
	left: -10px;
}
.intro-wrap .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid rgba(255,255,255,1);
	position: absolute;
	top: 25px;
	left: -20px;
}
#proj-count .intro-right .white-section,
#proj-count .intro-left .white-section {
	background: none;
}
#proj-count .home-count {
	color: #fff;
	font-size: 4em;
}
#proj-count .mt-none {
	color: #fff;
	font-size: 1.286em;
}
#proj-count .arrow-right,
#proj-count .arrow-left {
	display: none;
}
@media only screen and (max-width : 768px) {
	.intro-wrap .intro-left {
		float: none;
		width: 100%;
	}
	.intro-wrap .intro-right {
		float: none;
		width: 100%;
	}
}
/* **************************************************************************
HOW WE WORKS
***************************************************************************** */
.how-we-work {
	background-image: url('../img/bg2.png');
	text-align: center;
}
.how-we-work footer {
	margin: 1em 0;
	text-align: center;
}
.how-we-work footer > div {
	margin: 0 auto;
	width: 640px !important;
	height: 264px !important;
}
.how-we-work-list {
	margin: 1em auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
	max-width: 940px;
}
.how-we-work-list li {
	position: relative;
	float: left;
	width: 33.33%;
	cursor: pointer;
}
.how-we-work-list li a {
	text-decoration: none;
	color: #fff;
}
.how-we-work-list li a:hover {
	color: #ed3068;
}
.how-we-work-list li:hover {
	color: #ed3068;
}
.how-we-work-list span {
	margin: 0.714em 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-weight: 700;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
}
.hww-img img {
	max-width: 90%;
}
.how-we-work-list p {
	font-weight: 700;
	font-size: 1.143em;
}
@media only screen and (max-width : 720px) {
	.how-we-work footer > div {
		margin: 0 auto;
		width: 560px !important;
		height: 231px !important;
	}
}
@media only screen and (max-width : 610px) {
	.how-we-work footer > div {
		margin: 0 auto;
		width: 460px !important;
		height: 190px !important;
	}
}
@media only screen and (max-width : 520px) {
	.how-we-work footer > div {
		margin: 0 auto;
		width: 300px !important;
		height: 124px !important;
	}
}
@media only screen and (max-width : 480px) {
	.how-we-work-list li {
		float: none;
		width: 100%;
		margin: 1em 0;
	}
}
/* **************************************************************************
TESTIMONIALS SLIDER
***************************************************************************** */
.testimonials-wrap .inner {
	margin-top: 1em;
}
.testimonials-slider {
	margin: 0;
	padding: 0;
	list-style: none;
}
.testimonials-slider li {
	overflow: hidden;
}
.testimonials-photo {
	float: left;
	width: 25%;
}
.testimonials-photo div {
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	margin: 0 auto;
}
.testimonials-photo img {
	width: 100%;
	border-radius: 50%;
}
.testimonials-content {
	float: right;
	width: 73%;
}
.testimonials-name {
	font-weight: 700;
	margin-top: 1em;
}
.testimonials-date {
	font-size: 0.857em;
	font-weight: 300;
}
.testimonials-content p:last-of-type {
	margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
	.testimonials-name {
		margin-top: 0;
	}
	.testimonials-content {
		float: right;
		width: 70%;
	}
}
/* **************************************************************************
HOME COUNTS
***************************************************************************** */
.home-counts-wrap {
	text-align: center;
}
.home-counts-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.home-counts-list a {
	font-size: 1.214em;
}
.home-counts-list .white-section {
	padding-top: 0.714em;
	padding-bottom: 0.714em;
}
.home-counts-item:first-of-type {
	float: left;
	width: 48%;
}
.home-counts-item:last-of-type {
	float: right;
	width: 48%;
}
.home-count {
	font-size: 2.286em;
	font-weight: 700;
}
.home-count-type {
	font-size: 1.286em;
	font-weight: 700;
}
@media only screen and (max-width : 480px) {
	.home-counts-item:first-of-type {
		float: none;
		width: 100%;
	}
	.home-counts-item:last-of-type {
		float: none;
		width: 100%;
	}
}
/* **************************************************************************
CLIENTS SLIDER
***************************************************************************** */
.clients-wrap {
	background-image: url('../img/bg2.png');
	text-align: center;
}
.clients-wrap .inner {
	margin-bottom: 1em;
}
.clients-slider {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clients-slider li {
	text-align: center;
}
.clients-slider li div {
	width: 200px;
	height: 200px;
	line-height: 200px;
	margin: 0 auto;
}
.clients-slider li img {
	display: inline-block;
	max-width: 100%;
	max-height: 99%;
}
@media only screen and (max-width : 670px) {
	.clients-slider li div {
		width: 150px;
		height: 150px;
		line-height: 150px;
		margin: 0 auto;
	}
}
@media only screen and (max-width : 530px) {
	.clients-slider li div {
		width: 100px;
		height: 100px;
		line-height: 100px;
		margin: 0 auto;
	}
}
@media only screen and (max-width : 380px) {
	.clients-slider li div {
		width: 70px;
		height: 70px;
		line-height: 70px;
		margin: 0 auto;
	}
}
/* **************************************************************************
LK
***************************************************************************** */
/* ********** General ********** */
.lk-header {
	text-align: center;
}
.lk-nav {
	margin: 1em 0 2em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.lk-nav li {
	margin-bottom: 0.714em;
}
.lk-nav a {
	min-width: 300px;
}
@media only screen and (max-width : 480px) {
	.lk-nav a {
		display: block;
		min-width: auto;
		width: 100%;
	}
}
/* ********** Customer Page ********** */
.customerform-check-wrap {
	text-align: left;
}
.customerform-check-wrap input,
.customerform-check-wrap label {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.customerform-check-wrap label {
	margin-left: 5px;
}
/* **************************************************************************
ORDERS
***************************************************************************** */
/* ********** General ********** */
.orders-wrap {
	background-color: #29304b;
}
/* ********** Filter Form ********** */
#filterform {
	margin-bottom: 2em;
}
#filterform select,
#filterform input,
#filterform textarea {
	color: #000;
}
#filterform > div {
	margin: 1em 0;
}
#filterform > div p {
	float: left;
	width: 33.33%;
	margin: 0;
	padding: 0 10px;
}
@media only screen and (max-width : 480px) {
	#filterform > div p {
		float: none;
		width: 100%;
		padding: 0;
	}
}
/* ********** Filter Form ********** */
#ffrm {
	margin-bottom: 2em;
}
#ffrm select,
#ffrm input,
#ffrm textarea {
	color: #000;
}
#ffrm > div {
	margin: 1em 0;
}
#ffrm > div p {
	float: left;
	width: 33.33%;
	margin: 0;
	padding: 0 10px;
}
@media only screen and (max-width : 480px) {
	#ffrm > div p {
		float: none;
		width: 100%;
		padding: 0;
	}
}
/* ********** Orders List ********** */
.orders-list {
	padding: 0;
	list-style: none;
}
.resum {
	/*margin-right: 120px;*/
}
.costumer-desc {
	position: relative;
}
.costumer-photo {
	position: absolute;
	top: 0;
	right: 0;
}
.costumer-photo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.order-item {
	background-image: url('../img/p3.png');
	background-position: right center;
	background-repeat: no-repeat;
}
li.costumer-item {
	background-image: url('../img/p3.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}
.costumer-item header span,
.costumer-item header h2 {
	display: inline-block;
	margin-bottom: 0;
}
.costumer-item header span {
	font-size: 1.286em;
	margin-left: 10px;
}
.order-item h3 {
	margin-bottom: .5em;
}
.order-desc,
.order-list,
.order-info,
.order-count {
	margin: 1em 0;
}
.order-desc > div {
	margin-bottom: .25em;
}
.order-desc > div span {
	margin-left: 5px;
	font-weight: 700;
}
.order-info > div {
	margin-bottom: .25em;
	font-weight: 700;
}
.order-info > div span {
	margin-left: 5px;
	font-weight: 400;
}
.order-count {
	font-weight: 700;
	font-size: .9em;
}
.order-count span {
	margin-left: 5px;
}
.order-nav {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.order-nav li {
	margin-bottom: .5em;
}
/* **************************************************************************
CARD
***************************************************************************** */
.card-wrap {
	background-image: url('http://eventblaster.ru/img/p4.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}
/* **************************************************************************
CHATROOM
***************************************************************************** */
.chatroom {
	overflow: hidden;
}
.chat-item {
	float: left;
	width: 50%;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
.chat-item header span {
	padding: .15em .5em;
	border-radius: 5px;
	background-color: rgba(255,255,255,.7);
	color: #000;
	font-size: .8em;
}
.chat-item header span.online {
	background-color: rgba(149,214,161,.7);
	color: green;
}
.chat-item header span.offline {
	background-color: rgba(214,149,149,.7);
	color: red;
}
.chat-item h2 {
	margin-bottom: 0;
} 
.regform {
	width: 60%;
}
@media only screen and (max-width : 480px) {
	.chat-item {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
	li.costumer-item {
		background-image: none;
	}
	.regform {
		width: 100%;
	}
}
/* **************************************************************************
CHATLINE
***************************************************************************** */
.chatline-list {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	font-size: .9em;
	max-height: 495px;
	overflow: auto;
}
.chatline-date {
	font-size: .9em;
	color: #686868;
}
.chatline-me {
	text-align: right;
	padding-right: 10px;
}
.chatline-you {
	text-align: left;
}
.chatline-list li {
	margin-bottom: .5em;
}
.chatline-list h3 {
	margin-bottom: 0;
}
.chatline-list li > div {
	padding: .5em;
	border-radius: 5px;
	background-color: rgba(255,255,255,.5);
}
.chatline-me > div {
	text-align: right;
	margin-left: 3em;
}
.chatline-you > div {
	text-align: left;
	margin-right: 3em;
}
/* **************************************************************************
PAGE FOOTER
***************************************************************************** */
.pg-footer {
	background-color: #101324;
	text-align: center;
}
.footer-nav ul {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.footer-nav ul li {
	margin-bottom: 0.714em;
}
.footer-nav ul li:last-of-type {
	margin-bottom: 0;
}
.footer-nav a {
	display: inline-block;
	min-width: 300px;
}
@media only screen and (max-width : 480px) {
	.footer-nav a {
		display: block;
		min-width: auto;
		width: 100%;
	}
}
.pg-footer-left {
	float: left;
	width: 48%;
}
.pg-footer-right {
	float: right;
	width: 48%;
}
.pg-footer-left-30 {
	float: left;
	width: 30%;
}.pg-footer-left-40 {
	float: left;
	width: 40%;
}
.pg-footer-right {
	float: right;
	width: 48%;
}
.pg-footer-right-30 {
	float: right;
	width: 30%;
}
.pg-footer-right-40 {
	float: right;
	width: 40%;
}

@media only screen and (max-width : 768px) {
	.pg-footer-left-40,
	.pg-footer-right-40,
	.pg-footer-left-30,
	.pg-footer-right-30 {
		width: 100%;
		margin: 1em 0;
		float: none;
	}
}
.app-list,
.stat-list {
	padding: 0;
	list-style: none;
	text-align: center;
}
.app-list li,
.stat-list li {
	margin: 0 10px;
	display: inline-block;
}
.app-list a,
.stat-list a {
	display: inline-block;
}
.stat-list {
	margin-top: 2.5em;
}
.upl-hpto {
	display: inline-block;
	width: 100%;
	padding: .6em 1em .5em 3em;
	border-radius: 5px;
	background-color: #01bbd9;
	text-decoration: none;
	color: #fff !important;
	background-image: url(../img/icon-photo2.png);
	background-repeat: no-repeat;
	background-position: 7px 5px;
}
.upl-hpto:hover {
	background-color: #007472;
}
@media only screen and (max-width : 768px) {
	.pg-footer-left,
	.pg-footer-right {
		width: 100%;
		margin: 1em 0;
		float: none;
	}
}
@media only screen and (max-width : 480px) {
	.app-list li,
	.stat-list li {
		margin: 0 3px;
	}
}
/* **************************************************************************
POPUPS
***************************************************************************** */
/* ********** POPUPS GENERAL ********** */
.white-popup {
	box-sizing: border-box;
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 740px;
	margin: 20px auto;
	color: #000;
}
.white-popup > header {
	margin: 0 0 1em 0;
	text-align: center;
}
.white-popup > main {
	margin: 0 0 1em 0;
}
.popup-two-col .popup-col-item {
	float: left;
	width: 50%;
	padding: 0 10px;
}
.popup-two-col .popup-col-item:first-of-type {
	border-right: 1px solid #c0c0c0;
}
@media only screen and (max-width : 768px) {
	.popup-two-col .popup-col-item {
		float: none;
		width: 100%;
	}
	.popup-two-col .popup-col-item:first-of-type {
		border-right: 0px solid #c0c0c0;
	}
}
/* **************************************************************************
ENTER PAGE
***************************************************************************** */
.enter-section {
	background-image: url(../img/p5.png);
	background-position: 90% center;
	background-repeat: no-repeat;
}
/* **************************************************************************
REGISTRATION PAGE
***************************************************************************** */
.reg-section {
	background-image: url(../img/p5.png);
	background-position: 90% 20%;
	background-repeat: no-repeat;
}
.thanks-section {
	padding-top: 3em;
	padding-bottom: 3em;
}
@media only screen and (max-width : 768px) {
	.reg-section {
		background-image: none;
	}
}







/***********************************
Media Queries
***********************************/
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 979px) {

}
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 320px) {

}






.margin10 {
	margin-bottom: 10px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 1.25dppx),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
.tags__link {
	border-radius: 12px;
	display:inline-block;
	padding: 0 20px;
	background: #f5f5f5 5px;
	font-size: 1em;
	line-height: 24px;
	text-decoration: none;
	color: #da2567;
	float:left;
	margin: 2px;
}
.tags__remove {
	transition: none;
	margin-right: 10px;
	padding: 0;
	background: 0 0;
	border: none;
}
#tags {
	padding: .5em 1em;
	border-radius: 5px;
	border: 1px solid #9a9a9a;
	background: rgba(255, 255, 255, .7);
	width: 50%;
}
.new {
	width: 50%;
	text-align: center;
}
.modal_form {
	width: 50%; 
	border-radius: 5px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	left: 24%; /* пoлoвинa экрaнa слевa */
	top: 10%;
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
	background-color: rgba(255, 255, 255, .7);
}
/* Пoдлoжкa */
.overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
iframe {
	width: 100%;
	height: 100%;
    min-height: 300px;
    border: none;
}
#msg-box {
	overflow:auto;
	width:750px;
	height:100%;
	padding:5px;
	margin:0px;
	display:inline-block;
}
#msg-box ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
#t-box {
	margin-left:0px;
}
.new-section {
	width: 70%;
}
.payshowright {
	width:49%;
	float:right;
}
.payshow {
	width:49%;
}
@media only screen and (max-width : 600px) {
	.new {
		width: 100%;
	}
	.regform {
		width: 100%;
		background-image: none;
	}
	#tags {
		width: 100%;
	}
	.modal_form {
		width: 100%;
		left: 0%;
	}
	.tags-list {
		width: 100%;
	}
	.newselect {
	    max-width: 600px !important;
	}
	.new-section {
		width: 100%;
	}
	.order-item {
		background-image: none;
	}
	.payshowright {
		width:100%;
	}
	.payshow {
		width:100%;
	}
}
/* ********** News ********** */
.news {
	margin: 1em 0;
}
.news h3 {
	margin: 0;
	padding: .5em .5em;
	background-color: #101324;
	color: #fff;
	border-bottom: 1px solid #2c314c;
	cursor: pointer;
}
.news h3:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.news .opened-for-codepen {
  display: block;
}
.newselect {
	max-width: 353px;
	width: 100% !important;
}
@media only screen and (max-width : 1224px) {
	.enter-section {
		background-image: none;
	}
}